<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <header>
    <div class="bg-white">
      <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
          <h1 class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">{{ self.title() }}
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <script src="https://unpkg.com/htmx.org@1.8.2"
    integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.8.2/dist/ext/json-enc.js"></script>
</body>

</html>
